  <div>
    <form action="/remakeUrls" method="POST" id="search-form">
      <input type="text" placeholder="Input URI here" id="search-input" name="url-name">
      <button type="submit" id="search-btn">Shorten</button>
    </form>
  </div>























