<div>
  <form action="/remakeUrls" method="POST" id="search-form">
    <div class="notes">
      <span>1. 格式為 http:// 或 https://</span>
      <span>2. http://、https://的後方需輸入內容</span>
    </div>
    <input type="text" placeholder="Input URI here" id="search-input">
    <input type="text" id="url-link" name="url_link" hidden>
    <button type="submit" id="search-btn">Shorten</button>
  </form>
</div>