<div>
  <form action="/remakeUrls" method="POST" id="search-form">
    <span style="text-start">格式為 http:// 或 https://</span>
    <input type="text" placeholder="Input URI here" id="search-input" name="url_link">
    <button type="submit" id="search-btn">Shorten</button>
  </form>
</div>