

<form action="#" id="copy-form">
  <h2>Success! Please use this link:</h2>
  <input type="text" name="" value="" id="copy-input">
  <button type="submit" id="copy-btn">Copy</button>
</form>




