* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
}

.container {
  width: 900px;
  text-align: center;
  margin:0 auto;
  padding-top: 20px;
}

h1 {
  font-size: 1.5em;
}

.title {
  text-decoration: none;
  color: #000;
}

img {
  width: 15%;
  margin: 20px 0
}

::placeholder {
  color: rgb(188, 185, 185);
  opacity: 1;
}

#search-form {
  display: flex; 
  flex-flow: column nowrap; 
  align-items: center; 
  margin-top: 60px
}

#search-input {
  background: rgba(195, 194, 194, 0.3);
  width: 35%; 
  padding: 10px; 
  margin-bottom: 16px;
  font-size: 1.2em; 
  font-weight: 500;
  border: none; 
}

#search-btn {
  width: 20%; 
  padding: 10px; 
  border: 1px solid #1E90FF;
  background: #FFF; 
  color: #1E90FF; 
  font-size: 1.2em; 
  font-weight: 600;
}

.container-link {
  text-align: start;
  margin-top: 20px;
  margin-left: 150px;
  padding: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

a {
  display: block;
  font-size: 1.5em;
}

#copy-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 60px
}

#copy-btn {
  width: 15%;
  padding: 10px;
  border: none;
  background: #1E90FF;
  color: #FFF;
  font-size: 1.2em;
  font-weight: 600;
}
